#container {
    margin: auto auto;
    padding-bottom: 15px;
}

#container h2 {
    font-size: 48px;
    text-align: center;
    color: #E9E9E9;
}

#gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}